<% provide(:title, "Home") %>
<div class="home row">
  <div class="jumbotron">
    <div class="container">
      <h1>MoviePresentation</h1>
      <p>これは自分の好きな映画を他のユーザーにプレゼンして魅力を伝えたり、今まで見たことのなかった映画を発見するためのアプリです</p>
    </div>
  </div>
  <div class="col-md-12">
    <h2>最新のプレゼン<%= @movies.length %>選</h2>
    <%= render 'static_pages/new_movie' %>
  </div>
  <div class="col-md-12">
    <h2>いいね数の多いプレゼンランキング</h2>
    <%= render 'static_pages/like_movie_rank' %>
  </div>
</div>
