<% provide(:title, 'Likes movies') %>
<div class="col-md-8">
  <% if current_user.movies.any? %>
    <ol class="movies">
      <h2>投稿数 (<%= @movies.count %>)</h2>
      <%= render @movies %>
    </ol>
    <%= will_paginate @movies, class: "will_paginate" %>
  <% end %>
</div>
