<div class="my_profile">
  <h2>プロフィール</h2>
  <ul>
    <li>
      <span>性別: </span>
      <%= @user.gender_id.blank? ? "未設定" : @user.gender.name %>
    </li>
    <li>
      <span>血液型: </span>
      <%= @user.blood_type.blank? ? "未設定" : @user.blood_type.name %>
    </li>
    <li>
      <span>誕生日: </span>
      <%= @user.birthday.blank? ? "未設定" : @user.birthday %>
    </li>
    <li>
      <span>コメント: </span>
      <%= @user.comment.blank? ? "未設定" : @user.comment %>
    </li>
  </ul>
</div>
